p,h1,h2,h3,h4 {
	margin: 0;
}
ul {
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--title-text-color);
	background-color: var(--white-background);
	font-style: normal;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}
/* .container {
	padding-left: 20px;
	padding-right: 20px;
} */
@media screen and (max-width: 375px){
	.container-about {
		max-width: 335px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.about {}

.container-about {
}

.section-about-title {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 1.25;
	letter-spacing: -0.02em;
	color: #1E2827;
	margin-bottom: 40px;
}

.section-about-subtitle {
	font-family: 'Epilogue';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	color: #141414;
}

.section-about-gif {}


/* NEW */

@media screen and (min-width: 375px) {
	.section-new-title {
		width: 320px;
	}
}
.section-new {
	display: flex;
	flex-direction: column;
}
.section-new {
	max-width: 335px;
} 

.section-new-subtitle {
	font-family: 'Epilogue';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.06em;
	color: rgba(20, 20, 20, 0.4);
}

.section-new-title {
	font-family: 'Epilogue';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 1.25;
	letter-spacing: -0.02em;
	color: #141414;
}

.new-list {}

.new-item {}

.new-link {}

@media screen and (min-width: 768px) {
	.container {
			width: 704px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 32px;
			padding-right: 32px;
	}
}


@media screen and (min-width: 1280px) {
	.container {
			width: 1176px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 132px;
			padding-right: 132px;
	}
}
